/* 
    RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
    GENERAL
*/
html {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  background-color: #0084fd;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 50px;
}
ul li {
  list-style: none;
}
ul li a {
  text-decoration: none;
}

header .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row ul {
  display: flex;
  gap: 30px;
}
.menu-mobile {
  display: none;
}

/* Main */

main .row {
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
  gap: 20px;
}

.card {
  border: 1px solid;
  text-align: center;
  flex: 1;
}
.col-2 {
  flex: 2;
  display: flex;
  gap: 20px;
}
.col-2 img {
  width: 100%;
}
/* Section */
section {
  background-color: #9792e4;
}
section .small-container {
  width: 1000px;
  margin: 0 auto;
}
section .small-container .row {
  display: flex;
  padding: 50px;
  gap: 100px;
}
section .small-container .img-section1 {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
}
section .img-section1 div > h4 {
  font-size: 1.5rem;
}
section .img-section2 > h4 {
  font-size: 1.2rem;
}
section .img-section1 > div {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  line-height: 24px;
}
section img {
  width: 100%;
  margin-bottom: 30px;
}
section .small-container h4 {
  margin-bottom: 30px;
}
section .img-section2 {
  max-width: 90%;
  flex-wrap: wrap;
  line-height: 24px;
  margin-top: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  padding: 20px;
}
section .img-section2 img {
  width: 70%;
}
section .img-section2 .arrow {
  background-color: #9792e4;
  border-radius: 50%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
/* Article */

article .container {
  max-width: 1200px;
  margin: 0 auto;
}
article .testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 50px;
}
article .testimonial h3 {
  color: #9792e4;
  font-size: 2rem;
  padding: 30px;
}
article .card {
  margin-top: 30px;
  background-color: #9792e4;
  color: white;
  display: flex;
  border-radius: 30px;
  padding: 30px 10px;
}

article .card .img-testimonial {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
article .card img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
article .card .description-testimonial {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  justify-content: center;
}
article .card .description-testimonial p,
h4 {
  text-align: start;
  line-height: 2rem;
  padding: 10px 40px;
}
section .container > h3 {
  text-align: center;
  font-size: 2rem;
  color: white;
  padding: 50px;
}
section .container .containter-cards {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
}
section .container .containter-cards > .card {
  display: flex;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
  background-color: white;
  flex-direction: column;
  text-align: start;
  padding: 25px;
  flex: none;
  width: calc((100% / 3) - 20px);
}
section .container .containter-cards .card h4 {
  padding: 0;
  color: #9792e4;
  padding-top: 20px;
}
section .container .containter-cards .card h2 {
  color: #9792e4;
  font-size: 3.5rem;
}
section .container .containter-cards .card p {
  line-height: 1.5rem;
  padding: 25px 0;
}
section .container .containter-cards .card button {
  color: white;
  background-color: #9792e4;
  width: 50%;
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
}

/* Media Queries */
/* Tablet */

@media (min-width: 769px) and (max-width: 992px) {
  .container .navbar-links {
    display: none;
  }
  .container .menu-mobile {
    display: block;
    color: white;
  }

  section .small-container {
    width: 100%;
    padding: 30px;
  }
  section .row {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }

  section .row img {
    width: auto;
  }
  section .row .img-section1 h4 {
    padding: 30px 0px;
    font-size: 3rem;
  }
  section .row .img-section2 {
    margin: 0;
    padding: 30px 0 30px 0;
  }
  article .container {
    width: 100%;
    padding: 30px;
  }
  section .container .containter-cards {
    gap: 20px;
    justify-content: center;
  }
  section .container .containter-cards > .card {
    width: calc((100% / 2) - 20px);
  }
}

/* Media Queries */
/* Mobile */
@media (max-width: 768px) {
  .row .card {
    display: flex;
    flex-direction: column;
    flex: 1 100%;
  }
  .container .navbar-links {
    display: none;
  }
  .container .menu-mobile {
    display: block;
    color: white;
  }

  .row .col-2 {
    display: flex;
    flex-direction: column;
  }
  section .small-container {
    width: 100%;
    padding: 30px;
  }
  section .row {
    display: flex;
    width: auto;
    flex-direction: column;
  }
  section .row .img-section1 {
    width: 100%;
  }
  section .row .img-section2 img {
    width: 100%;
  }
  article .container {
    width: 100%;
    padding: 30px;
  }
  article .container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section .container .containter-cards > .card {
    width: 100%;
  }
}
